<%= provide(:title, @user.name) %>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1>Speler: <%= @user.name %></h1>

		<div class="timer">
			<%= form_for @user, url: { action: 'update' } do |f| %>
				<%= f.text_field :score, id: 'clock' %>
				<%= f.submit "I finished!" %>
			<% end %>
		</div>
		
		<div class="game" tabindex="1">
			<p><strong>Welkom in Mexico! Een nieuw huis is hard nodig.</strong></p>
			<%= image_tag("homeplan20.jpg") %>
			<button class="btn btn-default btn-lg start" autofocus>Start</button>
		</div>
	</div>
</div>
