<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "Homeplan", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Help", help_path %></li>
				<% if logged_in? %>
					<li><%= link_to "Highscores", '#' %></li>
					<li><%= link_to "Restart game", logout_path, method: 'delete' %></li>
				<% else %>
					<li><button class="btn btn-primary navbar-btn nav-play-button"><%= link_to "Play now!", signup_path %></button></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>
